@using Microsoft.AspNetCore.Identity
@model Projekt_StudieTips.Models.Tip

@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@{
    var courseId = ViewBag.CourseId;
}
<div class="CenterEverything">
<h1 class="h1Degree" style="font-size: 7em">Tilføj nyt tip</h1>

<hr />
<div class="row CenterEverything">
    <div class="col-md-4 CenterEverything">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" type="hidden" value="@User.Claims.FirstOrDefault(c => c.Type == "User" || c.Type == "Admin" || c.Type == "Moderator").Value" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CourseId" class="form-control" type="hidden" value="@courseId" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label h1Degree" style="font-size: 2.5em">Overskrift</label>
                <input style="font-size: 2em" asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label h1Degree" style="font-size: 2.5em">Tekst</label>
                <textarea style="font-size: 2em" asp-for="Text" class="form-control" style="height:200px"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="gotobtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.CourseId">
        <p class="h1Degree" style="font-size: 2em; color: #fff">Tilbage til tips</p>
    </a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
