@model Projekt_StudieTips.Models.Tip

@{
    ViewData["Title"] = "Delete";
}
<div class="CenterEverything">
    <h1 class="h1Degree" style="font-size: 6em">Slet tip</h1>

    <h3 class="h1Degree" style="font-size: 3em">Er du sikker på, at du vil slette tippet?</h3>
    <div >
        <hr />
        <dl class="row" style="background-color: rgba(255,255,255,0.5)">
            <dt class="col-sm-2 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                Kursus:
            </dt>
            <dd class="col-sm-10 h1Degree" style="font-size: 2em; color: #0A8DFF;" >
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
            <dt class="col-sm-2 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                Dato:
            </dt>
            <dd class="col-sm-10 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                Overskrift:
            </dt>
            <dd class="col-sm-10 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                @Html.DisplayFor(model => model.Headline)
            </dd>
            <dt class="col-sm-2 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                Tekst:
            </dt>
            <dd class="col-sm-10 h1Degree" style="font-size: 2em; color: #0A8DFF;">
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="TipId" />
            <input type="submit" value="Slet" class="gotobtn" style="background-color: red" /> 
            <br/>
            <br/>
            <a asp-action="Index">
                <p class="h1Degree" style="font-size: 2em; color: #fff">Tilbage</p> @*HER SKAL DER SENDES ET ID MED TILBAGE*@
            </a>
        </form>
    </div>
</div>
