@model MultipleModelsSearchAndTip
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Tips" asp-action="SearchTip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Søg i tips:</label>
                <input asp-for="SearchDto.SearchTerm" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Søg" class="btn btn-primary" />
            </div>
        </form>
        @foreach(var item in Model.Tips)
            {
            <tr>
               
            </tr>
            }
    </div>
</div>


<style>
    /*Scoping to this*/
</style>