@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="CenterEverything">
    <h2 class="h1Degree" style="font-size: 8em">Du har prøvet at tilgå funktionalitet uden tilladelse.</h2>
    <p class="h1Degree" style="font-size: 4em;">Verificér at du er logget på en konto.</p>
    <a asp-action="Index">
        <p class="h1Degree" style="font-size: 2.5em; color: #fff">Hjem</p>
    </a>
</div>