@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h2>Du har prøvet at tilgå funktionalitet uden tilladelse.</h2>
    <p>Verificér at du er logged på en konto.</p>
    <a asp-action="Index">Hjem</a>
</div>