@model IEnumerable<Projekt_StudieTips.Models.Degree>


<link rel="stylesheet" href="~/css/site.css" />

@{ ViewData["Title"] = "Uddannelser"; }
<div class="CenterEverything">
    <h1 class="h1Degree">Uddannelser</h1>

    @if (User.HasClaim(c => c.Type == "Admin"))
    {
        <div>
            <a asp-action="Create">
                <p class="h1Degree" style="font-size: 2.5em; color: #fff">Opret ny uddannelse</p>
            </a>
        </div>
    }

    

    <br />
    <br />

    @using (Html.BeginForm("Redirect", "Degrees", FormMethod.Post))
    {
        <div id="CenterEverything">
            <div class="select CenterEverything">
                <select name="DegreeId">
                    @if (Model != null)
                    {

                        foreach (var item in Model.OrderBy(d => d.DegreeName))
                        {
                            <option value="@item.DegreeId">@item.DegreeName</option>
                        }
                    }

                </select>
            </div>
            <br />
            <br />

            <input class="gotobtn" type="submit" name="submit" value="Gå til" />

            @if (User.HasClaim(c => c.Type == "Admin"))
            {
                <input class="gotobtn" type="submit" name="submit" value="Rediger">
                <input class="gotobtn" type="submit" name="submit" value="Slet">
            }
          
          
        </div>
    }
    </div>


