@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div style="background-color: rgba(255,255,255,0.50); border-radius: 1em; padding: 1em 0em 2.3em 1em">
<h2 class="h1Degree CenterEverything" style="font-size: 5em">Dine brugeroplysninger</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
