@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Indtast kodeord for at slette brugeren";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="h1Degree" style="font-size: 3em">@ViewData["Title"]</h4>


<div>
    <form id="delete-user" method="post" class="form-group">
       
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label class="h1Degree" style="font-size: 2em" asp-for="Input.Password"></label>
                <input style="font-size: 2em; width: 50%" asp-for="Input.Password" class="form-control" />
                <span style="font-size: 1.5em" asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="gotobtn" style="background-color: red" type="submit">Slet brugeren</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}