@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="h1Degree" style="font-size: 2em">Din emailadresse</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-group">
                        <input style="font-size: 2em" asp-for="Email" class="form-control" disabled />
                    </div>
                }
                 else
                {
                    <input style="font-size: 2em" asp-for="Email" class="form-control" disabled />
                }
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
