@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    <button class="nav-item" style="margin-right: 10%">
        <a class="nav-link text-primary"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Log ud</a>
    </button>
    
    <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej @User.Claims.FirstOrDefault(c => c.Type == "User" || c.Type == "Admin" || c.Type == "Moderator").Value!</a>
       
}
else
{
    
    <button class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">Registrer</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Log ind</a>
    </button>
}

