@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Projekt_StudieTips.Models.ViewModels.DegreeCourse

@{
    ViewData["Title"] = "Create";
}

<h1>Opret kursus</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Kursus</label>
                <input name="CourseName" id="CourseName" class="form-control" />
                <span name="CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" name="DegreeId" id="DegreeId" value="@ViewBag.DegreeId"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-DegreeId="@ViewBag.DegreeId">Tilbage til kursus</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
